.prize-pool-container {
  background-image: url("/images/Pattern-bot.png");
  background-color: #2b2b2b;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  /* background-color: #353535; */
  /* height: 115px; */
  padding: 13px;
  border-radius: 12px;
  font-family: Arial, sans-serif;
}

.prize-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
}

.prize-value h1 {
  margin: 0;
  font-size: 15px;
}

.progress-bar {
  background-color: #444;
  border-radius: 5px;
  margin: 15px 0;
  height: 5px;
  width: 100%;
}

.progress {
  background-color: #6b61ff;

  height: 100%;
  border-radius: 5px;
}

.spots-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 10px;
}

.prize-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* width: 200px; */
  height: 15px;
  /* top: 88px; */
  /*gap: 1px; */
  font-size: 11px;
  margin-left: 2px;
  }


.win-icon,
.point-icon,
.graph-icon {
  margin-right: -10px;
  margin-top: 0px;
}

.action-button:hover {
  background-color: #0c0c0c;
}
